@import '_variable.scss';

@mixin bp($key1, $breakpoint, $key2: null, $resolution2: null) {
  @if nth($key1 $breakpoint $key2 $resolution2, 3) == null {
    @media only screen and ($key1: $breakpoint) { @content; }
  }

  @else {
    @media only screen and ($key1: $breakpoint) and ($key2: $resolution2) { @content; }
  }
}

h1, h2, h3, h4, h5 {
  font-family: $font-caption;
}

h1 {
  border-bottom: $c-border-h1;
  border-top: $c-border-h1;
  font-size: $font-size-base + 28;
  letter-spacing: $letter-spacing;
  margin-bottom: 40px;
  text-align: center;
  padding: 15px 0 7px;
}

h2 {
  font-size: $font-size-base + 12;
  border-bottom: 1px solid $c-black;
  max-width: 350px;
  margin: 40px auto 20px;
  text-align: center;
}

h3 {
  font-size: $font-size-base + 6;
  margin-top: 40px;
}

a, a:hover {
  text-decoration: none;
}

ul {
  @include bp(max-width, 768px) {
    padding: 0 0 0 25px;
  }
}

html {
  height: 100%;
}

.font-bold {
  font-weight: bold;
}

h2.h2-pay-page {
  border: none;
  max-width: 100%;
  text-align: left;
}

.page-wrapper {
  background: url(../img/bg-1.jpg) no-repeat center center fixed $c-body-bg;
  background-size: cover;
  color: $c-black;
  display: flex;
  flex-direction: column;
  font: $font-size-base $font-base;
  min-height: 100%;
  line-height: 1.4;
}

.header {
  color: $c-black;
  letter-spacing: 3px;
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba($c-black, 0.5);

  &-logo {
    float: left;
    width: 200px;
  }

  &-link {
    padding-top: 5px;
  }
}

.nav-custom {
  background-color: $bg-navbar;
  border: none;
  border-bottom: 1px solid $c-red;
  min-height: 70px;

  li {
    padding-top: 30px;
    padding-bottom: 0;

    a.nav-custom-link {
      color: $c-link-nav;
      letter-spacing: $letter-spacing;
      transition-duration: 0.4s;
    }
  }

  li a.nav-custom-link:hover,
  ul.dropdown-submenu li a:hover {
    color: $c-link-nav-hover;
    background-color: $c-red;
  }

  .brand-custom {
    border-bottom: 1px solid $c-link-nav;
    float: none;
    font-size: $font-size-base + 4;
    font-weight: 600;

    &:before {
      content: '';
      background: url(../img/logo-pst-head.png) no-repeat;
      display: block;
      float: left;
      height: 38px;
      margin: -9px 10px 0 0;
      width: 43px;
    }
  }

  @include bp(min-width, 1500px) {
    margin-bottom: 80px;
  };
}

.navbar-header {
  height: 83px;
}

.btn-nav-custom {
  margin-top: 27px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul.dropdown-submenu li a {
  padding: 10px 10px 5px;
  color: $c-link-nav;
  letter-spacing: $letter-spacing;
}

ul.dropdown-submenu li {
  padding: 0;
}

ul.dropdown-submenu li:hover {
  background-color: $c-red;
}

.dropdown-submenu {
  margin: 0;
  width: 225px;
  background-color: $bg-navbar;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
}

.content {
  flex: 1 0 auto;
  margin: 30px 0 0;
  text-align: justify;

  p {
    text-indent: 40px;
  }
}

.slider {
  background-color: $bg-slider;
  margin-bottom: 50px;
  padding: 40px 50px;

  &-img {
    margin: 0 auto;
  }

  &-list {
    margin-left: 20px;
  }
}

.footer {
  &-wrapper {
    background-color: $bg-navbar;
    color: $c-link-nav;
    padding: 10px 0 10px;
  }

  &-copyright {
    font-size: $font-size-base - 3;
  }

  &-contacts {
    float: right;

    .contacts {
      &-info:not(:first-child) {
        padding: 0 0 0 13px;
      }

      &-link-f {
        color: $c-link-nav;

        &:hover {
          color: $c-link-nav-hover;
        }
      }
    }
  }
}

.h2-pay-page:before {
  content: '';
  display: block;
  float: left;
  height: 32px;
  margin-right: 15px;
  width: 32px;
}

.content-list {
  padding-bottom: 20px;
}

.nal:before {
  background: url('../img/nal.png') no-repeat;
}

.commerce:before {
  background: url('../img/commerce.png') no-repeat;
}

.money:before {
  background: url('../img/money.png') no-repeat;
}

.contacts-page {
  &-btn {
    float: right;
    margin: 20px 15px 0 0;
  }

  &-input {
    max-width: 500px;
  }

  &-list {
    clear: both;
    overflow: hidden;

    li {
      float: left;
      padding-right: 30px;

    }
  }
}

.error-sign {
  color: $c-red-pure;
}

.map {
  margin: 30px 30px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .nav-custom {

    &-link {
      font-size: $font-size-base - 5;
    }
  }

  .footer {
    &-contacts {
      float: none;
      text-align: center;
    }

    &-copyright {
      padding: 0;
    }

    &-item-logo {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-custom {
    &-list li {
      font-size: $font-size-base - 6;
      margin: 0;
      padding: 0;
    }

    &-contacts {
      float: none;
      text-align: center;
    }
  }

  .slider {
    padding: 20px;
  }

  .footer {

    &-contacts {
      float: none;
      text-align: center;

      a.contacts-link-f {
        font-size: $font-size-base - 4;
      }
    }

    &-item-logo {
      margin: 0 auto;
    }

    &-section {
      padding: 0;
    }

    &-copyright {
      font-size: $font-size-base - 4;
      padding: 10px 0 0;
    }
  }
}

